@import "normalize.css", "reset.css";

*, *::after, *::before {
    box-sizing: border-box;
}

#board {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;

    div {
        background-color: grey;
        min-width: 50px;
        min-height: 50px;
    }
}

#score-sect {
    display: none;

    #winner-para {
        display: none;
    }
}